<div class="container">
	<p id="notice"><%= notice %></p>

	<h2>
	  <strong>Категория:</strong>
	  <%= @admin_category.name %>
	</h2>

	<style type="text/css">
		p {
			margin: 10px;
		}
	</style>

	<div class="row">
		<div class="col-sm-6">
			<p>
				<strong>Description:</strong>
				<%= @admin_category.description %>
			</p>

			<p>
				<strong>Parent category:</strong>
				<%= @admin_category.parent_category.name if @admin_category.parent_category %>
			</p>

			<%= link_to 'Edit', edit_admin_category_path(@admin_category) %> |
			<%= link_to 'Back', admin_categories_path %>
			<h3>Products:</h3>
			
				<% @admin_category.products.each do |pr| %>
					<%= pr.title %> <br>
					<%= link_to pr.title, admin_category_product_path(pr.id.to_i) %> <br>
				<% end %>
			
		</div>

		

		<div class="col-sm-6">
			<h5><%= link_to 'Добавить продукт в эту категорию', new_admin_category_product_path(@admin_category) %></h5>




		</div>

	</div>
</div>

