<div class="container">
	<p id="notice"><%= notice %></p>

	<h2>
	  <strong>Категория:</strong>
	  <%= @admin_category.name %>
	</h2>

	<style type="text/css">
		p {
			margin: 10px;
		}
	</style>

	<div class="row">
		<div class="col-sm-6">
			<p>
				<strong>Description:</strong>
				<%= @admin_category.description %>
			</p>

			<p>
				<strong>Parent category:</strong>
				<%= @admin_category.parent_category.name if @admin_category.parent_category %>
			</p>

			<%= link_to 'Edit', edit_admin_category_path(@admin_category) %> |
			<%= link_to 'Back', admin_categories_path %>
			
			
		</div>

		

		<div class="col-sm-6">
			<h5>
				<%= link_to "Добавить товар в #{@admin_category.name}", new_admin_category_product_path(@admin_category), class: 'btn btn-success' %>
			</h5>

			<h3 style="margin: 20px 0 20px 0;">Товары в данной категории::</h3>
			<hr>
			<ul>
				<% @admin_category.products.each do |pr| %>
				<li>
					<%= link_to pr.title + '555', admin_category_product_path(@admin_category, pr) %> 
				</li>
				<% end %>
			</ul>
			
				
				
			


		</div>

	</div>
</div>

