<h1><%= @product.title %></h1>
<p><%= @product.price %></p>
<p>
<% @product.pictures.each do |pic| %>
	<%= image_tag pic.image.url(:thumb) %> <hr>
<% end %>
	
</p>

<p>
	<%= link_to 'Edit', edit_admin_category_product_path(@product) %>
	<%= link_to 'Destroy', admin_category_product_path(@product), method: :delete %>
</p>
